# Discord Bot Configuration
DISCORD_TOKEN=MTQyMjkxMjY2MzE3MTYyOTEwOQ.G5bEJD.XcXB8MOYbcw2HVjQkt1qGz8dPhWg3RImIiJPH8
DISCORD_CLIENT_ID=1422912663171629109

# Spotify API Configuration (Optional - for enhanced Spotify features)
SPOTIFY_CLIENT_ID=a6dbb8a642744209a693ef1d9c003fe5
SPOTIFY_CLIENT_SECRET=09b92c4a53c542819bf0207ee37d0c58

# Bot Configuration
PREFIX=!
